.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    height: fit-content;
    width: fit-content;
}

mat-spinner {
    margin: auto;
    padding: 20px;
}