<table mat-table [dataSource]="tracks">
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let track">
            <div class="action-container">
                <div class="vertical-center">
                    <div class="actions">
                        <mat-icon (click)="playSong(track)">play_arrow</mat-icon>
                        <mat-icon (click)="queueSong(track)">queue_music</mat-icon>
                    </div>
                </div>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td class="track-img" mat-cell *matCellDef="let track">
            <img [src]="track.imageUrls[0]">
        </td>
    </ng-container>
    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef></th>
        <td class="track-info" mat-cell *matCellDef="let track">
            <div class="track-name">
                <span>{{track.name}}</span>
            </div>
            <div class="track-artist">
                <span>{{track.artists[0].name}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="album">
        <th mat-header-cell *matHeaderCellDef>Album</th>
        <td mat-cell *matCellDef="let track">
            <div>
                <span>{{track.album.name}}</span>
            </div>
        </td>
    </ng-container>
    <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>O</th>
        <td mat-cell *matCellDef="let track"> {{track.duration}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>