table {
    width: 100%;
    max-width: 100%;
}

tr {
    height: 50px;
    width: 100%;
}

td {
    height: 50px;
}

img {
    height: 90%;
} 

td .vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

td .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

td span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td .track-info {
    flex: 0 0 30%;
}