<div class="player">
    <div class="song-container">
        <div *ngIf="track" class="track-wrapper">
            <img [src]="track.album.images[0].url">
            <div class="track-info-wrapper">
                <span class="track-title">{{track.name}}</span>
                <span class="track-artist">{{track.artists[0].name}}</span>
            </div>
        </div>
    </div>
    <div class="controls-container">
        <div class="icon-wrapper">
            <mat-icon (click)="skipPrevious()">skip_previous</mat-icon>
            <mat-icon *ngIf="!isPlaying" (click)="playTrack()">play_arrow</mat-icon>
            <mat-icon *ngIf="isPlaying" (click)="pauseTrack()">pause</mat-icon>
            <mat-icon (click)="skipNext()">skip_next</mat-icon>
        </div>
        <mat-progress-bar mode="determinate" [value]="track_completion"></mat-progress-bar>
    </div>
    <div class="actions-container">
    <mat-icon (click)="showQueue()">library_music</mat-icon>
    </div>
</div>
